body {
  font-family: Roboto;
  font-weight: 500;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}



form {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;

  input {
    width: 48%;
    border-radius: 11px;
    padding: 0px 14px 0 16px;
    height: 66px;
    font-size: 32px;
    color: #121212;

    &::placeholder {
      display: flex;
      font-size: 32px;
      color: #000000;
    }
  }

  button {
    width: 100%;
    padding: 14px 0;
    border-radius: 11px;
    background-color: #121212;
    font-size: 32px;
    color: #FFFFFF;
  }
}