.personal {
  margin-top: 40px;

  &__title {
    font-size: 48px;

    &-city {
    font-size: 24px;
    }
  }

  &__social {
    display: flex;
    gap: 30px;
  }

  &__skills {
  font-size: 32px;
  
    &-list {
      display: flex;
      gap: 25px;
    }
  }

  &__about {
    
    font-size: 32px;

    &-text {
    
    }
  }

  &__contact {
    
    &__flexbox {
      display: flex;
      font-size: 32px;
      color: #121212;
      gap: 30px;
      
      &-mail {
        width: 338px;
        border: 1px solid #121212;
        border-radius: 11px;
        background-color: white;
        padding: 14px 0 14px 16px;
      }

      &-message {
        width: 338px;
        border: 1px solid #121212;
        border-radius: 11px;
        background-color: white;
        padding: 14px 0 14px 16px;
      }
    }

    &__button {
      width: 702px;
      font-size: 32px;
      color: white;
      background-color: black;
    }
  }

}