.flexbox {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 992px) {
    gap: 25px;
  }

  @media screen and (max-width: 540px) {
    display: block;
    padding: 0 50px 0 75px;
  }
}

.main {

  &__profile {
    position: relative;

    &__image {
      display: block;
    }

    &__backround {
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: black;
      
      @media screen and (max-width: 992px) {
        position: static;
      }

      &-title {
        font-weight: 400;
        font-size: 64px;
        color:white;
        padding: 14px 96px 14px 96px;
        
        @media screen and (max-width: 992px) {
          padding: 12px 61px 12px 61px;
          font-size: 36px;
        }

        @media screen and (max-width: 540px) {
          padding: 12px 111px 12px 111px;
          font-size: 24px;
        }
      }
    }
  }
}