.flexbox {
  display: flex;
  gap: clamp(25px, 10vw, 50px);
}

.main {
  position: relative;

  &__image {
    @media screen and (max-width: 992px) {
      width: 372px;
    }
  }

  &__backround {
    position: absolute;
    text-align: center;
    
    width: 638px;
    bottom: 0;
    background-color: black;

    &-title {
      font-size: clamp(36px, 4.57vw, 64px);
      color:white;
      padding: 14px 0 14px 0;
    }
  }
}